In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [4]:
df.shape

(2160, 12)

In [5]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [6]:
df.Brand.nunique()

27

In [7]:
df.Brand.unique()

array(['Asus', 'Alurin', 'MSI', 'HP', 'Lenovo', 'Medion', 'Acer', 'Apple',
       'Razer', 'Gigabyte', 'Dell', 'LG', 'Samsung', 'PcCom', 'Microsoft',
       'Primux', 'Prixton', 'Dynabook Toshiba', 'Thomson', 'Denver',
       'Deep Gaming', 'Vant', 'Innjoo', 'Jetwing', 'Millenium', 'Realme',
       'Toshiba'], dtype=object)

In [8]:
df.value_counts()

Laptop                                                                                              Status  Brand    Model        CPU                RAM  Storage  Storage type  GPU        Screen  Touch  Final Price
ASUS  ROG Zephyrus M16 GU604VI-93D47PB1 Intel Core i9-13900H/32GB/1TB SSD/RTX 4070/16" (PT)         New     Asus     ROG          Intel Core i9      32   1000     SSD           RTX 4070   16.0    No     3456.44        1
ASUS ExpertBook B6 Flip B6602FC2-MH0248X Intel Core i7-12850HX/16GB/512GB SSD/RTX A2000/16" Táctil  New     Asus     ExpertBook   Intel Core i7      16   512      SSD           RTX A2000  16.0    Yes    2499.00        1
ASUS ProArt StudioBook Pro 16 OLED W7600Z3A-L2022X Intel Core i7-12700H/32GB/1TB SSD/RTX A3000/16"  New     Asus     ProArt       Intel Core i7      32   1000     SSD           RTX A3000  16.0    No     2846.00        1
ASUS ROG Flow X13 2023 GV302XV-MU006W AMD Ryzen 9 7940HS/16GB/1TB SSD/RTX 4060/13.4" Táctil         New     Asus     ROG          AMD Ryzen 9        16   1000     SSD           RTX 4060   13.4    Yes    1999.00        1
ASUS ROG Flow X13 GV301QC-K6120T AMD Ryzen 9 5980HS/32GB/1TB SSD/RTX 3050/13.4" Táctil              New     Asus     ROG          AMD Ryzen 9        32   1000     SSD           RTX 3050   13.4    Yes    3943.37        1
                                                                                                                                                                                                                         ..
Razer Blade 17 QHD 240Hz Intel Core i7-12800H/16GB/1TB SSD/RTX 3060/17.3"                           New     Razer    Blade        Intel Core i7      16   1000     SSD           RTX 3060   17.3    No     3099.99        1
Razer Blade 17 QHD 240Hz Intel Core i7-12800H/16GB/1TB SSD/RTX 3070Ti/17.3"                         New     Razer    Blade        Intel Core i7      16   1000     SSD           RTX 3070   17.3    No     3499.99        1
Razer Blade 17 QHD 240Hz Intel Core i9-12900H/16GB/1TB SSD/RTX 3070Ti/17.3"                         New     Razer    Blade        Intel Core i9      16   1000     SSD           RTX 3070   17.3    No     3899.99        1
Samsung Galaxy Book3 Ultra Intel Evo Core i7-13700H/16GB/1TB SSD/RTX 4050/16"                       New     Samsung  Galaxy Book  Intel Evo Core i7  16   1000     SSD           RTX 4050   16.0    No     2999.01        1
Samsung Galaxy Book3 Ultra Intel Evo Core i9-13900H/32GB/1TB SSD/RTX 4070/16"                       New     Samsung  Galaxy Book  Intel Evo Core i9  32   1000     SSD           RTX 4070   16.0    No     3699.01        1
Name: count, Length: 781, dtype: int64

In [9]:
df.count()

Laptop          2160
Status          2160
Brand           2160
Model           2160
CPU             2160
RAM             2160
Storage         2160
Storage type    2118
GPU              789
Screen          2156
Touch           2160
Final Price     2160
dtype: int64

In [10]:
df.head().T

,0,1,2,3,4
Laptop,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...
Status,New,New,New,New,New
Brand,Asus,Alurin,Asus,MSI,HP
Model,ExpertBook,Go,ExpertBook,Katana,15S
CPU,Intel Core i5,Intel Celeron,Intel Core i3,Intel Core i7,Intel Core i5
RAM,8,8,8,16,16
Storage,512,256,256,1000,512
Storage type,SSD,SSD,SSD,SSD,SSD
GPU,NaN,NaN,NaN,RTX 3050,NaN
Screen,15.6,15.6,15.6,15.6,15.6
Touch,No,No,No,No,No
Final Price,1009.0,299.0,789.0,1199.0,669.01

In [11]:
df[df['Brand'] == 'Dell']['Final Price'].max()

np.float64(3936.0)

In [12]:
df['Screen'].median()

np.float64(15.6)

In [13]:
df['Screen'].value_counts().head()

Screen
15.6    1009
14.0     392
16.0     174
17.3     161
13.3     131
Name: count, dtype: int64

In [14]:
df['Screen'] = df['Screen'].fillna(df['Screen'].value_counts().head())

In [15]:
df['Screen'].median()

np.float64(15.6)

In [16]:
df[df['Brand'] == 'Innjoo']

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [17]:
df_injoo = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']]

In [18]:
X = np.array(df_injoo)

In [19]:
XTX = X.T.dot(X)

In [20]:
y = [1100, 1300, 800, 900, 1000, 1100]

In [21]:
y

[1100, 1300, 800, 900, 1000, 1100]

In [22]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)

In [23]:
w.sum().round(2)

np.float64(91.3)